.main-section-layout {
  width: 100%;
  max-width: 1440px;
  margin: 48px 0 76px 0;
  padding: 0 72px;
}

.main-title-container {
  grid-column: span 5;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-description {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: var(--primary-black);
}

.main-cards {
  grid-column: span 7;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 31px;
}

.main-big-card {
  width: 100%;
  height: 338px;
  display: flex;
  gap: 28px;
  padding: 28px;
  border: 1px solid var(--border-gray-one);
  border-radius: 20px;
}

.main-big-card-illustration {
  width: 282px;
  height: 282px;
}

.main-big-card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main-big-card-title {
  font-size: 32px;
  font-weight: 800;
  line-height: 125%;
  color: var(--primary-black);
}

.main-big-card-description {
  width: 274px;
  font-size: 16px;
  line-height: 125%;
  color: var(--primary-black);
  opacity: 0.5;
}

.main-big-card-buttons-wrapper {
  display: flex;
  align-items:center ;
  gap: 12px;
  margin-top: auto;
}

.main-button-width {
  width: 131px;
  height: 42px;
}

.main-cards-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
  row-gap: 20px;
}

.main-small-card {
  height: 130px;
  grid-column: span 1;
  display: flex;
  gap: 16px;
  border: 1px solid var(--border-gray-three);
  border-radius: 12px;
  padding: 16px;
}

.main-small-card-illustration {
  width: 96px;
  height: 96px;
}

.main-small-card-content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.main-small-card-title {
  font-size: 18px;
  font-weight: 800;
  line-height: 125%;
  color: var(--primary-black);
}

.main-small-card-subtitle {
  font-size: 12px;
  line-height: 125%;
  color: var(--primary-black);
  opacity: 0.5;
}

.main-orange-label {
  width: 183px;
  height: 25px;
  padding: 5px 8px 2px 8px;
  border-radius: 4px;
  background-color: var(--accent-light-orange);

  font-size: 12px;
  line-height: 150%;
  color: var(--primary-black);
}

.main-download-button {
  width: 130px;
  margin-top: auto;
  height: 28px;
}

.main-outline-button-width {
  width: 131px;
  height: 17px;
}

.main-red-banner {
  position: relative;
  display: flex;
  width: 100%;
  height: 127px;
  align-items: center;
  background-color: var(--accent-blue-one);
  padding: 0 23px;
  margin-top: auto;
  gap: 24px;
  border-radius: 12px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.main-red-banner-wrapper {
  display: flex;
  height: 127px;
  gap: 24px;
}

.main-red-banner-img {
  height: 100%;
  width: auto;
}

.main-red-banner-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 238px;
  gap: 10px;
  padding: 25px 0 26px 0;
}

.main-red-banner-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  color: #FFFFFF;
}

.main-red-banner-description {
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #FFFFFF;
}

.main-red-banner-mobile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 212px;
  height: 42px;
  border-radius: 6px;
  margin: auto 0 26px auto;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}

.close-checkbox {
  display: none;
}

.close-button {
  position: absolute;
  top: 16px;
  right: 10px;
  cursor: pointer;
}

#close-desktop-banner:checked ~ .desktop-banner,
#close-mobile-banner:checked ~ .mobile-banner {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.desktop-banner {
  cursor: pointer;
  display: flex;
}

.mobile-banner {
  cursor: default;
  display: none;
}

@media (max-width: 1279px) {
  .main-section-layout {
    margin: 60px 0 36px 0;
    padding: 0 30px;
  }

  .main-title-container {
    grid-column: span 4;
    gap: 16px;
    margin-bottom: 68px;
  }

  .main-cards {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 0;
  }

  .main-description {
    width: 100%;
    max-width: 526px;
    font-size: 20px;
  }

  .desktop-banner {
    display: none;
  }

  .mobile-banner {
    grid-column: span 6;
    display: flex;
    margin-bottom: 6px;
  }
}

@media (max-width: 1023px) {
  .main-title-container {
    grid-column: span 6;
    gap: 16px;
    margin-bottom: 58px;
  }

  .main-cards {
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .main-section-layout {
    margin: 24px 0 48px 0;
    padding: 0 16px;
  }

  .main-title-container {
    grid-column: span 4;
    gap: 16px;
    margin-bottom: 34px;
  }

  .main-small-card {
    grid-column: span 2;
  }

  .main-big-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 24px;
  }

  .main-big-card-illustration {
    width: 100%;
    height: 100%;
  }

  .main-big-card-title {
    font-size: 36px;
  }

  .main-big-card-description {
    width: 100%;
    font-size: 20px;
    opacity: 1;
  }

  .main-big-card-buttons-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 16px;
  }

  

  .main-button-width {
    width: 100%;
    height: 48px;
  }

  .main-outline-button-width {
    width: 100%;
    height: 48px;
  }

  .main-red-banner {
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    padding: 16px;
    gap: 18px;
    margin-bottom: 16px;
  }

  .main-red-banner-mobile-button {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 639px) {
  .main-description {
    width: 100%;
    max-width: 500px;
    font-size: 16px;
  }

  .main-big-card-buttons-wrapper {
    gap: 10px;
  }

  .main-outline-button-width {
    height: 24px;
    margin-top: 10px;
    padding: 0;
  }

  .main-red-banner-wrapper {
    height: 95px;
    gap: 12px;
  }

  .main-red-banner-title {
    font-size: 20px;
  }
  
  .main-red-banner-description {
    font-size: 12px;
    justify-content: start;
    gap: 16px;
  }
}

@media (max-width: 386px) {

  .main-big-card {
    padding: 20px;
  }

  .main-big-card-description {
    font-size: 14px;
    opacity: 1;
  }

  .main-red-banner-img {
    display: none;
  }
}
